<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On



    # development  RewriteCond TestString CondPattern [flags]   --- /
    RewriteCond %{REQUEST_URI}  /ws            [NC] #REQUEST_URI always starts with slash
    RewriteCond %{HTTP_HOST} ^localhost
    RewriteRule (.*) ws://localhost:8090/ [P,L] #  removed from rewriterule as htaccess context (htaccess at /)


    # production
    RewriteCond %{REQUEST_URI}  /ws            [NC]
    RewriteCond %{HTTP_HOST} ^laravel-mysql-persistent-draughts.a3c1.starter-us-west-1.openshiftapps.com
    RewriteRule (.*) ws://laravel-mysql-persistent-draughts.a3c1.starter-us-west-1.openshiftapps.com:8090/ [P,L] #


    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]




    #<IfModule mod_proxy.c>

         #ProxyPass /ws ws://localhost:8090/
        # ProxyPassReverse /ws ws://localhost:8090/
    #</IfModule>

</IfModule>

